<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Ememo_System</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Get_data_from_assistance</display-name>
    <servlet-name>Get_data_from_assistance</servlet-name>
    <servlet-class>bean.Get_data_from_assistance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Get_data_from_assistance</servlet-name>
    <url-pattern>/Get_data_from_assistance</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Get_data_from_police</display-name>
    <servlet-name>Get_data_from_police</servlet-name>
    <servlet-class>bean.Get_data_from_police</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Get_data_from_police</servlet-name>
    <url-pattern>/Get_data_from_police</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Payment_Generate_by_Ass</display-name>
    <servlet-name>Payment_Generate_by_Ass</servlet-name>
    <servlet-class>bean.Payment_Generate_by_Ass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Payment_Generate_by_Ass</servlet-name>
    <url-pattern>/Payment_Generate_by_Ass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Payment_Generate_by_police</display-name>
    <servlet-name>Payment_Generate_by_police</servlet-name>
    <servlet-class>bean.Payment_Generate_by_police</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Payment_Generate_by_police</servlet-name>
    <url-pattern>/Payment_Generate_by_police</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Image_store_by_Assistance</display-name>
    <servlet-name>Image_store_by_Assistance</servlet-name>
    <servlet-class>bean.Image_store_by_Assistance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Image_store_by_Assistance</servlet-name>
    <url-pattern>/Image_store_by_Assistance</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>d_create_pdf</display-name>
    <servlet-name>d_create_pdf</servlet-name>
    <servlet-class>d_create_pdf</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>d_create_pdf</servlet-name>
    <url-pattern>/d_create_pdf</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>uplode_img_in_db</display-name>
    <servlet-name>uplode_img_in_db</servlet-name>
    <servlet-class>bean.uplode_img_in_db</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uplode_img_in_db</servlet-name>
    <url-pattern>/uplode_img_in_db</url-pattern>
  </servlet-mapping>
</web-app>